body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.checked-star {
  color: orange;
}

.temp-checked-star {
  color: orange;
}

.temp-unchecked-star {
  color: inherit;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
